---
// Redirect to 404 page for user's system locale

import { languages, defaultLang } from '@i18n/i18n.config';
import { SITE } from '@config';
import Layout from '@layouts/Base.astro';
import LinkButton from '@components/LinkButton.astro';

const baseUrl = import.meta.env.PROD ? Astro.site : '/';
---

<Layout headProps={{ seoTitle: `404 Not Found | ${SITE.title}` }}>
  <main>
    <div class="not-found-wrapper">
      <h1 aria-label="404 Not Found">404</h1>
      <span aria-hidden="true">¯\_(ツ)_/¯</span>
      <p>Page Not Found</p>
      <LinkButton href="/" className="my-6 text-lg underline decoration-dashed underline-offset-8">
        Go back home
      </LinkButton>
    </div>
  </main>
  <noscript>
    <meta http-equiv="refresh" content={`0;url=${baseUrl + defaultLang}/404/`} />
  </noscript>

  <script is:inline define:vars={{ languages, baseUrl, defaultLang }}>
    const urlHasLang = langs.includes(location.pathname.split('/')[1]);
    const selectedLang = localStorage.getItem('selectedLang');
    const localStorageHasLang = selectedLang && langs.includes(selectedLang);
    const referrerHasLang =
      document.referrer &&
      new URL(document.referrer).host == location.host &&
      langs.includes(new URL(document.referrer).pathname.split('/')[1]);

    if (urlHasLang) {
      localStorage.setItem('userAccessPath', location.pathname);
      location.href = `${baseUrl + location.pathname.split('/')[1]}/404/`;
    } else if (localStorageHasLang) {
      location.href = baseUrl + selectedLang + location.pathname;
    } else if (referrerHasLang) {
      const referrerLang = new URL(document.referrer).pathname.split('/')[1];
      location.href = baseUrl + referrerLang + location.pathname;
    } else {
      location.href = baseUrl + defaultLocale + location.pathname;
    }
  </script>
</Layout>

<style scoped>
  main {
    @apply mx-auto flex max-w-3xl flex-1 items-center justify-center;
  }
  .not-found-wrapper {
    @apply my-14 flex flex-col items-center justify-center;
  }
  .not-found-wrapper h1 {
    @apply text-9xl font-bold text-skin-accent;
  }
  .not-found-wrapper p {
    @apply mt-4 text-2xl sm:text-3xl;
  }
</style>
