---
import { getCollection } from "astro:content";

import Layout from "@layouts/Layout.astro";
import Card from "@components/Card.astro";

import getSortedPosts from "@utils/getSortedPosts";
import getGithubEditUrl from "@utils/getGithubEditUrl";

import { SITE } from "../config";

const posts = await getCollection("blog");
// const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

export async function getStaticPaths() {
  return posts.map((post) => ({
    params: {
      slug: post.slug,
    },
    props: {
      post,
    },
  }));
}
const sortedPosts = getSortedPosts(posts);

const seoTitle = `Blog - ${SITE.title}`;
---

<Layout
  githubEditUrl={getGithubEditUrl("/src/pages/blog.astro")}
  headProps={{ seoTitle }}
>
  <main class="py-12 lg:py-20">
    <div class="mx-auto max-w-6xl px-3">
      <h1 class="text-center text-4xl font-bold">Blog</h1>
    </div>
    <div class="mx-auto max-w-6xl px-3">
      <section class="grid grid-cols-1 gap-8 py-8 font-sans sm:gap-6 md:grid-cols-2 lg:grid-cols-3">
        {
          sortedPosts.map(({ data }) => (
            <div class="col-span-1">
              <Card frontmatter={data} />
            </div>
          ))
        }
      </section>
    </div>
  </main>
</Layout>
