---
import { getCollection } from "astro:content";

import Layout from "@layouts/Layout.astro";
import Card from "@components/Card.astro";

import getSortedPosts from "@utils/getSortedPosts";
import getGithubEditUrl from "@utils/getGithubEditUrl";

import { SITE } from "../config";

const posts = await getCollection("blog");
// const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

export async function getStaticPaths() {
  return posts.map((post) => ({
    params: {
      slug: post.slug,
    },
    props: {
      post,
    },
  }));
}
const sortedPosts = getSortedPosts(posts);

const title = `Blog - ${SITE.title}`;
---

<Layout
  githubEditUrl={getGithubEditUrl("/src/pages/blog.astro")}
  headProps={{ title }}
>
  <main class="py-12 lg:py-20">
    <article class="mx-auto max-w-6xl px-3">
      <section
        class="grid grid-cols-1 gap-6 py-8 md:grid-cols-2 lg:grid-cols-3"
        data-test="articles-section"
      >
        {
          sortedPosts.map(({ data }) => (
            <div class="col-span-1">
              {/*<Card post={p} />*/}
              <Card frontmatter={data} />
            </div>
          ))
        }
      </section>
    </article>

    <style></style>
  </main>
</Layout>
