---
// import FAQSection from "@components/FAQSection";
// import Embed from "@components/Embed";
import PricingTable from "@components/PricingTable.astro";
import Layout from "@layouts/Layout.astro";
// import Testimonials from "@components/Testimonials";
import getGithubEditUrl from "@utils/getGithubEditUrl";

const nextMonth = new Date(
  new Date().getFullYear(),
  new Date().getMonth() + 1,
  1
);
const nextMonthName = nextMonth.toLocaleDateString("en-GB", { month: "long" });
---

<Layout githubEditUrl={getGithubEditUrl("/src/pages/index.astro")}>
  <!-- <link rel="dns-prefetch" href="https://blocksurvey.io" /> -->
  <main>
    <h1
      class="text-gradient sm:leading-12 leading-11 my-10 text-center text-5xl sm:my-20 sm:tracking-tight"
    >
      Welcome to Escuela.dev<br />A Coding school in Malaga, Spain<br />Enroll
      for the next batch in {nextMonthName}
      {new Date().getFullYear()}
    </h1>
    <div>
      <!-- <Testimonials client:only /> -->
      <!-- <FAQSection /> -->
      <PricingTable />
    </div>
    <div class="mx-auto mb-8 max-w-screen-md text-center lg:mb-12">
      <h2
        class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white"
      >
        📜 Will I receive a certificate of completion?
      </h2>
      <p class="font-sans leading-9">
        No, instead of a certificate, we offer something more valuable.
        Companies hiring software developers prioritise projects and code
        samples over certificates. With our program, you'll build a robust
        portfolio on GitHub, showcasing various web projects. This portfolio
        will demonstrate your proficiency, enable potential employers to assess
        your skills effectively and determine if you're a good fit for their
        teams. 🤜🤛
      </p>
    </div>
    <div class="mx-auto mb-8 max-w-screen-md text-center lg:mb-12">
      <h2
        class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white"
      >
        🛠️ What kind of projects will I learn how to build?
      </h2>
      <p class="font-sans leading-9">
        1. 📚 <b>Interactive Quiz</b>: Build an interactive quiz application
        with multiple-choice questions. Users can select their answers, and you
        can provide instant feedback on their choices. JavaScript can be used to
        manage the quiz and track scores.
      </p>
      <p class="font-sans leading-9">
        2. ✨ <b>Animated Landing Page</b>: Design a visually appealing landing
        page with animations and transitions. Use CSS animations or libraries
        like Animate.css to add engaging effects.
      </p>
      <p class="font-sans leading-9">
        3. 🎹 <b>Virtual Piano</b>: Create a virtual piano keyboard where users
        can play musical notes and chords by clicking or pressing keys. You can
        use JavaScript to handle the sound and interactivity.
      </p>
    </div>
    <!-- <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      >
        Fill the form below to learn more
      </h2>
    </div> -->
    <!-- <Embed
      client:visible
      src="https://blocksurvey.io/survey/t/4c0715c3-e28d-4dc8-b80f-a3f8210f1f24"
      style={{ width: "100%", height: "100vh" }}
    /> -->
  </main>
</Layout>

<style scoped>
  main {
    margin: auto;
    padding: 1.5rem;
  }
  h1 {
    margin: 0;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: rgba(var(--color-fill));
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
