---
import { Icon } from "astro-icon/components";

// import Hr from "./Hr.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const currentYear = new Date().getFullYear();

export interface Props {
  githubEditUrl?: string;
}

const { githubEditUrl } = Astro.props;
---

<footer>
  <ul
    class="my-6 grid grid-flow-row justify-center justify-items-center gap-5 text-center text-sm sm:grid-flow-col"
  >
    <li>
      <a
        href="https://instagram.com/escuela.dev"
        target="_blank"
        class="ig-icon hover:opacity-100"
      >
        <Icon name="mdi:instagram" />
        <p>Instagram</p>
      </a>
    </li>
    <li>
      <a
        href="https://x.com/escuela_dev_"
        target="_blank"
        class="hover:text-black"
      >
        <Icon name="line-md:twitter-x" />
        <p>Twitter</p>
      </a>
    </li>
    <li>
      <a
        href="https://linkedin.com/company/escuela-dev"
        target="_blank"
        class="hover:text-[#0a66c2]"
      >
        <Icon name="mdi:linkedin" />
        <p>LinkedIn</p>
      </a>
    </li>
    <li>
      <a
        href="https://chat.whatsapp.com/KLmG13RqLeSFJCBxkRegGP"
        target="_blank"
        class="flex items-center gap-[0.35rem] opacity-60 transition-all duration-200 hover:text-[#1faf38] hover:opacity-100 dark:hover:text-[#60d669]"
      >
        <Icon name="bxl:whatsapp" />
        <p>WhatsApp Community</p>
      </a>
    </li>
  </ul>

  <p class="text-xs opacity-60">
    &copy; {currentYear}
    {t("footer.copyright")}
  </p>
  {
    githubEditUrl && (
      <div class="mt-3">
        <a
          class="edit-on-github header-link w-100 depth-2 inline-flex opacity-60"
          href={githubEditUrl}
          target="_blank"
        >
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="pen"
            class="opacity-60"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            height="1em"
            width="1em"
          >
            <path
              fill="currentColor"
              d="M290.74 93.24l128.02 128.02-277.99 277.99-114.14 12.6C11.35 513.54-1.56 500.62.14 485.34l12.7-114.22 277.9-277.88zm207.2-19.06l-60.11-60.11c-18.75-18.75-49.16-18.75-67.91 0l-56.55 56.55 128.02 128.02 56.55-56.55c18.75-18.76 18.75-49.16 0-67.91z"
            />
          </svg>
          <span class="text-xs">{t("footer.edit")}</span>
        </a>
      </div>
    )
  }
</footer>

<style>
  footer {
    @apply mt-5 w-full text-center;
    padding: 25px;
    border-top: 1px solid rgba(var(--color-border));
  }
  svg {
    width: 15px;
    height: 15px;
  }
  ul a {
    @apply flex items-center gap-[0.35rem] opacity-100 transition-all duration-200 hover:opacity-100 sm:opacity-80;
  }
  a.header-link {
    gap: 0.5em;
    font: inherit;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    color: var(--theme-text-lighter);
    unicode-bidi: plaintext;
  }
  .ig-icon:hover {
    background: linear-gradient(
      45deg,
      rgba(255, 221, 85, 0.8) 33%,
      rgba(255, 84, 62, 0.9) 66%,
      rgba(200, 55, 171, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgba(255, 221, 85, 0.8);
  }
</style>
