.gradient-border {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: 0;
  white-space: nowrap;
  margin: 5px;
  padding: 0 26px;
  font-size: 16px;
  height: 46px;
  line-height: 46px;
  font-weight: 300;
  letter-spacing: 1px;
  background-color: rgb(243, 243, 243);
  border-radius: 3px;
  width: 100%;
  text-align: center;
  transition: all 0.075s;
}

:is(.dark) .button {
  background-color: rgb(15, 21, 28);
}

.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * 3px);
  left: calc(-1 * 3px);
  width: 0;
  height: 0;
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: 3px;
  z-index: -1;
  animation: animatedgradient 1.5s ease alternate infinite;
  animation-play-state: paused;
  background-size: 300% 300%;
  transition: all 150ms;
}

.gradient-border:hover {
  border: none;
}

.gradient-border:hover:after {
  animation-play-state: running;

  height: calc(100% + 3px * 2);
  width: calc(100% + 3px * 2);
}

@media screen and (max-width: 640px) {
  .gradient-border:after {
    height: calc(100% + 3px * 2);
    width: calc(100% + 3px * 2);
  }
}

@keyframes animatedgradient {
  0% {
    background-position-x: 0%;
  }

  100% {
    background-position-x: 100%;
  }
}
