---
import "../styles/base.css";

// import { SITE } from "@config";
import Banner from "@components/Banner.astro";
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { getLangFromUrl } from "@i18n/utils";
// import WhatsAppButton from "@components/WhatsAppButton.astro";

export interface Props {
  headProps?: HeadProps;
  showWhatApp?: boolean;
  githubEditUrl?: string;
}
const { showWhatApp = false, githubEditUrl, headProps } = Astro.props;

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
  <head>
    <BaseHead headProps={headProps} />
  </head>
  <body>
    <Banner />
    <Header activeNav="posts" />
    <slot />
    <Footer githubEditUrl={githubEditUrl} />
    <style is:global>
      html {
        font-family: system-ui, sans-serif;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>
    <!-- {showWhatApp && <WhatsAppButton />} -->
  </body>
</html>
